@model TravelsViewModel

<h2>Travel list</h2>
@Html.ActionLink("Add new Travel", "AddNew", "Home", new { area = "" }, new { @class = "btn btn-primary" })
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Start</th>
            <th scope="col">Finish</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var travel in Model.Travels)
        {
            <tr>
                <td>@travel.Description</td>
                <td>@travel.Start.ToString("dd-MM-yyyy")</td>
                <td>@travel.Finish.ToString("dd-MM-yyyy")</td>
                <td>@travel.From.Name</td>
                <td>@travel.To.Name</td>
            </tr>
        }
    </tbody>

</table>

